{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <h1>Створити новий допис</h1>

    {{ title_test }}
    
    <form action="../edit_md.html", method="POST">
        <label for="title">Введіть назву файлу:</label>
        <br>
        <input type="text" id="title" name="title" value="" autofocus>
        <br><br>
        <label for="content">Створити новий допис:</label><br>        
        <textarea id="content" name="content" rows="5" cols="10">
#Тут повинен бути текст

ТЕСТ 
_ТЕСТ_
__Тест__
          </textarea>
          <br><br>
          <input type="submit" value="Зберегти">
        </form>



{% endblock %}