{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <h1>Створити новий допис</h1>

    <form action="", method="POST">
        {% csrf_token %}
        
        {{ form.title.label }}:<br />
        {{ form.title }}<br />
        <i>{{ form.title.help_text }}</i>
        <br />
        {{ form.content.label }}:<br />
        {{ form.content.as_textarea }}
        <!-- {{ form.as_p }} -->
        <!-- <br /> -->
    <input type="submit" value="Зберегти">
    </form>

{% endblock %}