{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <h1>Створити новий допис</h1>
    {{ title }}<br><br>
    {{ content }}

    {{ title_test }}
    
    <form action="../edit_md.html", method="POST">
      {% csrf_token %}
        <label for="title">Введіть назву файлу:</label>
        <br>
        <input type="text" id="title" name="title" value="" autofocus>
        <br><br>
        <label for="wiki">Створити новий допис:</label><br>        
        <textarea autofocus id="wiki" name="content" rows="5" cols="80">
          Тут повинен бути текст
          </textarea>
          <br><br>
          <input type="submit" value="Зберегти">
        </form>



{% endblock %}