{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <h1>{{ heading }}</h1> 
    {{ text_heading }}
    <br>
    
    <form action="../edit_md/", method="POST">
      {% csrf_token %}
      
      {{ label_from_title }}     <!-- Назва файлу: -->
      <h2>{{ form.title.value }}</h2>  <!-- Назва файлу з перемінної - title - value -->
      <!-- <h2>{{ form.title }}</h2> -->
      <!-- {{ form }} -->
      {{ form.content }}<br />
      <input type="submit" value="Зберегти">
    </form>

{% endblock %}