{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

    {% if entries %}
    <h1>All Pages</h1>
    <ul>
        {% for entry in entries %}
            <li><a href="wiki/{{ entry }}">{{ entry }}</a></li>
        {% endfor %}
    </ul>
<!--
    {% elif entry %}
    <h1>{{ title }}</h1>
    {{ entry }}
    
    {% elif entry != title %}
    <h1>Така сторінка не знайдена</h1>

    {% endif %}


    {% if search %}
    <h1>Пошук нічого не знайшов</h1>
    <h2>{{ title }}</h2>
    {{ search }}
-->
    {% endif %}

{% endblock %}